**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
venv/
.venv/
.git/
.idea/
.vscode/
wandb/
output/
weights/
data/
_data/
week1/data/
week2/data/
notebooks/
tests/
docs/
webapp/.env
webapp/_data/
**/.ipynb_checkpoints
